.button__keyboard {
    width: 44px;
    height: 44px;
    background-color: $color-dark;
    border: 1px solid $color-black;
    color: $color-white;
    border-radius: 6px;
    padding: 2px;
    margin: 3px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 400;
    cursor: pointer;

    &_wide {
        width: 88px;
    }

    &_extra-wide {
        width: 200px;
    }

    &_delete {
        width: 38px;
    }   
}

.active {
    background-color: $color-active;
    color: $color-black;
    font-weight: 700;
    transform: translateY(3px);
    transition: .2s;
}