.button__keyboard {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 2px;
    margin: 3px;

    &_wide {
        width: 88px;
    }

    &_extra-wide {
        width: 200px;
    }

    &_delete {
        width: 38px;
    }
}