html {
    font-size: 10px;
    line-height: 10px;
    height: 100%;
    background: url(assets/black-sand-paper-texture.jpg);
  }

  h1 {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 3.0rem;
    line-height: 4.0rem;
    font-weight: 700;
    color: $color-white;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 1000px;              
    height: 100vh;              
    margin: 0 auto;
    
}

.textarea {
    width: 700px;
    height: 250px;
    padding: 10px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 400;
    border: 2px solid $color-black;
    border-radius: 10px;
}

.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 760px;
    border-radius: 10px;
    border: 2px solid $color-black;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 400;
    background-color: $color-background;
    box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 30%);
}

p {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.6rem;
    line-height: 2.0rem;
    font-weight: 400;
    color: $color-white;
}

.clearRow {
    clear: both;
}